html {
    height: 100%;
}
 
body {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(167,45,253,1) 100%);
}

.set {
    display: flex;
    top: 10%;
    flex-direction: row;
    align-content: center;
    transform: translateX(-100%);
    transition: transform 1s;
}

.set-open.set {
    transform: none;
}

.set-close {
    display: none;
    transform: 1s;
}

input {
    padding: 6px;
    font-size: 12px;
    width: 160px;
    height: 30px;
}


button {
    height: 30px;
    width: 80px;
    background: none;
    color: floralwhite;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
}


form {
    padding-top: 20px;
}

.hello-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.hello {
    font-family: 'Spartan', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: floralwhite;
    position: flex;
}

footer {
    position: fixed;
    font-size: medium;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(34,193,195) transparent 50%;
    color: white;
    text-align: center;
}